.navbar{
    background-color:rgba(0,0,0,0.4);
    text-decoration-color:black;
    font-size:20px;
   
}

body{
     background-color:#141452!important;
}

.invis-bg{
    top:0;
    background:rgba(0,0,0,0.7);
    height:100%;
    width:100%;
    position:absolute;
    }
    
    .invis-field{
    display:flex;
    align-items:center;
    justify-content:center;
    }

    .reg-form{
      z-index:-1;
    }

    .newline{
        display:block;
      margin: 2px auto;
    }

    .inline{
      display:flex;
      flex-wrap:left;
    }

    .itemas{
      background-color:#8790dd;
      display:flex;
      text-align:center;
      align-items:center;
      padding:10px 15px;
    }
    a h3{  
    color:black !important;
  }
  a{text-decoration: none !important;}

  .flex-contik{
    display: inline-flex !important;
  justify-content: center !important;
  }
